@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;}

h1, h2, h3 {
    line-height:1.2;
}

button {
    border: 0px;
    background: rgba(0, 0, 0, .15);
    padding: 8px 15px;
    box-shadow: 4px 4px 11px rgba(0, 0, 0, .15);
    cursor: pointer;
}

button.error {
    background: tomato;
    color: white;
    font-weight: bold;
}

button.error.slim {
    background: transparent;
    color: red;
    box-shadow: none;
}

button.primary {
    background: dodgerblue;
    color: white;
    font-weight: bold;
}